@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.space{
    height: 100px;
}
header{
    width: 100%;
    height: 100px;
    font-size: xx-large;
    border-bottom: 2px groove black;
    position: fixed;
    background-color: rgba(245, 245, 245, 0.918);
}
#main{
    font-family: 'Noto Sans Arabic', sans-serif;
}
pre{
    text-align: left;
}
.a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 10px;
}
#line{
    border-top: black 2px groove;
}